<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author creation form</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/library.css" th:href="@{css/library.css}">
</head>
<body>

<form id="create-author-form" action="allAuthors.html" th:action="@{/createAuthor}" th:method="post">
    <h1>Create author:</h1>

    <div class="row">
        <label for="name-input">Name: </label>
        <input id="name-input" name="name" type="text"/>
    </div>
    <div class="row">
        <label for="surname-input">Surname: </label>
        <input id="surname-input" name="surname" type="text"/>
    </div>
    <div class="row">
        <label for="country-input">Country:</label>
        <select id="country-input" name="country">
            <option th:each="country : ${countries}"
                th:value="${country}"
                th:text="${country}">RUSSIA</option>
    </select>
</div>
<div class="row">
    <button type="submit">Save</button>
</div>
</form>
<a href="index.html" th:href="@{/}">Back to main</a>
<br/>
<a href="allGenres.html" th:href="@{/authors}">Back to all authors</a>
</body>
</html>